{% extends 'admin.twig' %}

{% set title %}{{ 'Courier_Courier'|translate }}{% endset %}

{% block content %}

    {% import 'macros.twig' as piwik %}
    <h2 piwik-enriched-headline
            help-url="https://github.com/digitalist-se/Courier/wiki"
            id="location-providers">{{ title }}</h2>
    </div>

    <div piwik-content-intro>
        <div piwik-content-block>
            <p>For more information about how to use Courier, click the help icon at the heading above.</p>
        </div>
    </div>
    <div piwik-content-block>

        <h3>{{ 'Courier_AddCourierIntegration'|translate }}</h3>

        <table piwik-content-table>
            <thead><tr><th>{{ 'Courier_IntegrationName'|translate }}</th><th>{{ 'Courier_IntegrationDescription'|translate }}</th></tr></thead>
            <tbody>
            {% for key,value in endpoints %}
                <tr><td><a href="?module=Courier&endpoint={{ key }}&action=addintegration"><img src="/plugins/Courier/assets/images/{{ key }}.png" class="courier-endpoint-image-listed" alt="{{ value.name }}" /></a>
                    </td>
                    <td><a href="?module=Courier&endpoint={{ key }}&action=addintegration"> {{ value.description }}</a> </td></tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>{{ 'Courier_ExistingIntegrations'|translate }}</h3>
        <table piwik-content-table>
            <thead><tr><th class="center">{{ 'Courier_Name'|translate }}</th><th class="center">{{ 'Courier_Type'|translate }}</th><th class="center">Actions</th></tr></thead>
            <tbody>
        {% for integration in integrations %}
            <tr>
                <td> {{ integration.name }}</td>
                <td> {{ integration.type }}</td>
                <td class="actions-cell">
                    <a class="btn-flat btn-large" href="?module=Courier&integration={{ integration.id }}&action=editintegration"><span class="icon-edit"></span></a>
                    <a class="btn-flat btn-large" href="?module=Courier&integration={{ integration.id }}&action=deleteintegration"><span class="icon-delete"></span></a>

                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
